p.flashy {
  color: red;
  font-style: italic;
}

h1.flashy {
  color: red;
  font-style: italic;

}

h2.best {
  color: pink;
  font-weight:bold;

}

div.author {
  color: green;
  font-style: italic;
}

span.important {
  color: orange;
  font-style: oblique;
}

div.sidebar {
  width: 30%;
  float: left;
  background-color: yellow;
  border: 2px solid green;
  padding: 4px;
  margin: 12px;
}

.image-box  {
  border: 10px solid green;
  padding: 30px;
  width: 300px;
  float: left;
  margin: 10px;
}

.image-box img {
  max-width: 200px;
}

.red p {
  color:red;
}

.blue p {
  color:blue;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }

}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }

}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
