p.flashy {
  color: red;
  font-style: italic;
}

h1.flashy {
  color: red;
  font-style: italic;

}

h2.best {
  color: pink;
  font-weight:bold;

}

div.author {
  color: green;
  font-style: italic;
}
